<!-- Menu -->
<nav id="menu">
	<ul class="links">
		<li><a href="index.html">Главная</a></li>
		@* <li><a href="landing.html">Персонажи</a></li>
		<li><a href="generic.html">Вход в личный кабинет</a></li> *@
	</ul>
	<ul class="actions stacked">
		<li><a href="#" class="button fit">Log In</a></li>
	</ul>
</nav>

<!-- Banner -->
<section id="banner" class="major">
	<div class="inner">
		<header class="major">
			<h1>Hi, это каталог персонажей вселенной Star Wars</h1>
		</header>
	</div>
</section>