<!DOCTYPE HTML>
<html>
<head>
	<title>Каталог персонажей вселенной Star Wars</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="css/main.css" />
	<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
</head>
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<a href="index.html" class="logo"><strong>Каталог</strong> <span>персонажей вселенной Star Wars</span></a>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<ul class="links">
				<li><a href="index.html">Главная</a></li>
				@* <li><a href="landing.html">Персонажи</a></li>
				<li><a href="generic.html">Вход в личный кабинет</a></li> *@
			</ul>
			<ul class="actions stacked">
				<li><a href="#" class="button fit">Log In</a></li>
			</ul>
		</nav>

		<!-- Banner -->
		<section id="banner" class="major">
			<div class="inner">
				<header class="major">
					<h1>Hi, это каталог персонажей вселенной Star Wars</h1>
				</header>
			</div>
		</section>

		<!-- Main -->
		<div id="main">

			<!-- One -->
			<section id="one" class="tiles">
				<article>
					<span class="image">
						<img src="images/darthVader.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="landing.html" class="link">Дарт Вейдер</a></h3>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/obi.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="landing.html" class="link">Оби-Ван Кеноби</a></h3>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/princessLeia.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="landing.html" class="link">Лея Органа</a></h3>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/stormtrooper.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="landing.html" class="link">Имперские штурмовики</a></h3>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/yoda.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="landing.html" class="link">Йода</a></h3>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/emperor.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="landing.html" class="link">Император</a></h3>
					</header>
				</article>
			</section>
		</div>
		@model LoginViewModel
		<!-- Contact -->
		<section id="contact">
			<div class="inner">
				<section>
					<header class="major">
						<h2>Авторизация</h2>
					</header>
					<form asp-area="" asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
						<div asp-validation-summary="All"></div>
						<div class="fields">
							<div class="field half">
								<label asp-for="UserName"></label>
								<input asp-for="UserName" />
								<span asp-validation-for="UserName"></span>
							</div>
							<div class="field half">
								<label asp-for="Password"></label>
								<input asp-for="Password" />
								<span asp-validation-for="Password"></span>
							</div>
							<div class="field">
								<label asp-for="RememberMe"></label>
								<input asp-for="RememberMe" />
								<span asp-validation-for="RememberMe"></span>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" value="Войти" class="primary" /></li>
						</ul>
					</form>
				</section>
				
			</div>
		</section>
	</div>

</body>
</html>